<!DOCTYPE html>
<html>

<head>
  <title>BikeShop - Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ebe5cb8586.js" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar text-white" href="/">
      <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>

    <a class="navbar text-white" href="/shop"><i class="fas fa-cart-arrow-down"></i></a>
  </nav>
  <div id="picture-header"></div>

  <!-- BIKES SECTION: initializing of the grid here -->
  <div class="container-fluid text-center justify-content-center">
    <div class="row justify-content-center">
      <% dataBike.forEach( (item)=> { %>
        <div class="col-10 col-sm-5 col-md-4">
          <div class="card">
            <img src=<%=item.imageURL %> class="card-img-top mt-3" alt=<%= item.name %>>
              <div class="card-body text-center">
                <h5 class="card-text">
                  <%= item.name%>
                </h5>
                <%= item.price%>€
                  <a href='/shop?name=<%= item.name %>' class="btn btn-outline-primary">Buy</a>
              </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <!-- Scripts ------------------------------------------- -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>